table {
  border-collapse: collapse;
}


section, table, td {
  border-radius: 12px;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}


.column1 {
  width: 50%;
}

section {
  padding : 20px 20px 20px 20px;
  border-radius: 20px;
}

tfoot tr:last-child td :last-child {
  border-bottom-left-radius: 15px;
}