header {
  display: block;
  width : 100%;
  position: relative;
  height:  90px;
  font-size: 17px;
}

header a {
  color : rgb(98, 0, 255);
  padding-left: 40px;
  font-family: 'Quicksand', sans-serif;
}

header nav, ul, li {
  margin : 0;
  padding : 0;
}

header nav {
  position: absolute;
  top: 38%;
  right: 15px;
}

header ul, li {
  list-style-type: none;
  display : inline-block;
}

body {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  /* background-image: linear-gradient(141deg, #38aecc 0%, #347fb9);  */
}

.card1 {
  padding-left: 20px;
}




